@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: "Open sans";
}
/*define*/
.displayFlax{
    display: flex;
    gap: 20px;
}
.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:#FD6E0A ;
    border: none;
    font-size: 18px;
    color: white;
}
.main{
   margin: 10px 200px;
}

/* define end*/
/* header section */
.header{
    background-image: url("./images/developer.png"),url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 18px 17px, bottom right;
    background-color: #FFF8F3;
    background-size: 99px , 686px;
  }
 .img img{
     width: 60px;
     height: 35rem;
     position: absolute;
     margin-left: 30px;
 }
 .navigation{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .name h1{
    font-size: 50px;
 }
 .name span{
     color: #FD6E0A;
 }
 .nevBar ul {
    display:flex;
    align-items: center;
 }
 .nevBar ul li {
     list-style: none;
 }
 .nevBar ul li a{
     text-decoration: none;
     margin: 50px;
     color: #474747;
     font-size: 20px;
 }
 .nevBar ul li a:hover{
     color: #0e0d0d;
     transition: 0.4s;
 }
  .button {
     width: 150px;
     height: 50px;
     border-radius: 10px;
     background-color:#FD6E0A ;
     border: none;
     font-size: 18px;
     color: white;
 }
 header .contact {
     width: 150px;
     height: 50px;
     border-radius: 10px;
     background-color:white;
     font-size: 18px;
     border: 2px solid #FD6E0A;
     color: #FD6E0A;
 }
 .nevBar .button a{
     text-decoration: none;
     font-weight: bold;
 }
 .nevBar .button:hover{
     background-color: #fc8128;
     transition: 0.5s;   
 }
 
 /* Banner section */
 .banner{
     display: flex;
     justify-content: space-between;
 }
 .text_contain{
     width: 35rem;
     margin-left: 200px  
 }
 .text_contain h3{
     font-size: 45px;
     color: #474747;
     font-weight: bold;
 }
 .text_contain h1{
     font-size: 85px;
     color: #181818;
     font-weight: bold;
 }
 .text_contain p{
     font-size:16px;
     color: #757575;
 }
 .image img{ 
     width: 580px;
 }
 .text_contain button{
     margin: 20px;
 }
/* about section */
 .title{
    justify-content:space-around;
    align-items: center;
} 
.about {
    margin-top: 8rem;
    border-radius: 10px;
    background: #FFF8F3;
}
.Content{
    text-align: center;
    padding: 150px;
    margin-top: 20px;   
} 
/*what i do section*/
.What_i_Do{
    margin-top: 200px;
}
.text_Content{
   text-align: center;
}
.subtitle{
    text-align: left;  
    width: 267px;
    height: 377px;
    box-shadow: 1px 2px 5px 1px #757575;
    padding: 30px;
    margin: 10px 1rem;
    justify-content:space-around;
    border-radius: 10px;
}
.item p , h4{
    margin-top: 20px;
    font-size: 16px;
}
 /*A summary of My Resume*/
 .Resume_contain{
    gap: 30px;
    padding-left: 20px;
    width: 90%;
    margin-top: 100px;
 }
 .Resume h1{
    text-align: center;
    margin-top: 100px;
 }
 .btn{
    text-align: center;
    margin-top: 100px;
 }
 /* footer section */
 footer{
    margin-top: 130px;
    padding: 130px 230px;
    background: #FFF8F3;
    gap: 100px;
}
.footer_column  {
    width: 50%;
    margin: 20px;
}
.form{
    margin-top: 20px;
}
.footer input[type="text"],footer input[type="email"],footer textarea {
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 20px;
    border: none;
}
/* for small device */
@media screen and (max-width:776px) {
    .header,.Skill,.title,.Resume_contain ,.footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }
      .navigation {
        flex-direction: column;
         margin: 10px 20px;
    } 
    .nevBar ul{
        flex-direction: column;
    }
    .name{
        margin-left: 1.2rem;;
    }
   /* .nevBar ul {
        flex-direction: column;
     } */
    .text_contain{
        width:100%;
        margin-left: 20px; 
    }
    .text_contain h3{
        font-size: 25px;
        color: #474747;
        font-weight: bold;
    }
    .text_contain h1{
        font-size:50px;
        color: #181818;
        font-weight: bold;
    }
    .text_contain p{
        font-size:16px;
        color: #757575;
    }
    .image img{ 
        width:100%;
    }
    .banner{
        flex-direction: column-reverse;
        padding:10px;
    }
    .header{
        background-image: none;
    }
    .Content{
        padding: 10px;
    }
    .footer_column  {
        width: 100%;
        margin: 20px;
    } 
    .footer{
        padding: 10px ;
    }
    main{
        margin: 10px 20px; 
    }
}
/* for mediam device */
@media screen and (min-width:776px) and (max-width:976px) {
 .Skill,.title,.Resume_contain,.footer,.banner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .navigation {
         margin: 10px 30px;
    } 

    .Content{
        padding: 20px;
    }
    .footer_column  {
        width: 100%;
        margin: 20px;
    }
    main{
        margin: 10px 20px; 
    }
    .text_contain{
        width:100%;
        margin-left: 20px; 
    }
    .text_contain h3{
        font-size: 35px;
        color: #474747;
        font-weight: bold;
    }
    .text_contain h1{
        font-size:65px;
        color: #181818;
        font-weight: bold;
    }
    .text_contain p{
        font-size:16px;
        color: #757575;
    }
    .image img{ 
        width:100%;
    }
    .banner{
        flex-direction: column-reverse;
        padding:10px;
    }
    .header{
        background-image: none;
    }
}