@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: "Open sans";
}
/*define*/
.displayFlax{
    display: flex;
    gap: 20px;
}
.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:#FD6E0A ;
    border: none;
    font-size: 18px;
    color: white;
}
.main{
   margin: 10px 200px;
}

/* define end*/
/* header section */
.header{
    background-image: url("./images/developer.png"),url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: 18px 17px, bottom right;
    background-color: #FFF8F3;
    background-size: 99px , 686px;
  }
 .img img{
     width: 60px;
     height: 35rem;
     position: absolute;
     margin-left: 30px;
 }
 .navigation{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .name h1{
    font-size: 50px;
 }
 .name span{
     color: #FD6E0A;
 }
 .nevBar ul {
    display:flex;
    align-items: center;
 }
 .nevBar ul li {
     list-style: none;
 }
 .nevBar ul li a{
     text-decoration: none;
     margin: 50px;
     color: #474747;
     font-size: 20px;
 }
 .nevBar ul li a:hover{
     color: #0e0d0d;
     transition: 0.4s;
 }
  .button {
     width: 150px;
     height: 50px;
     border-radius: 10px;
     background-color:#FD6E0A ;
     border: none;
     font-size: 18px;
     color: white;
 }
 header .contact {
     width: 150px;
     height: 50px;
     border-radius: 10px;
     background-color:white;
     font-size: 18px;
     border: 2px solid #FD6E0A;
     color: #FD6E0A;
 }
 .nevBar .button a{
     text-decoration: none;
     font-weight: bold;
 }
 .nevBar .button:hover{
     background-color: #fc8128;
     transition: 0.5s;   
 }
 
 /* Banner section */
 .banner{
     display: flex;
     justify-content: space-between;
 }
 .text_contain{
     width: 35rem;
     margin-left: 200px  
 }
 .text_contain h3{
     font-size: 45px;
     color: #474747;
     font-weight: bold;
 }
 .text_contain h1{
     font-size: 85px;
     color: #181818;
     font-weight: bold;
 }
 .text_contain p{
     font-size:16px;
     color: #757575;
 }
 .image img{ 
     width: 580px;
 }
 .text_contain button{
     margin: 20px;
 }
  /* About section */
.about {
    margin-top: 130px;
    border-radius: 10px;
}
.aboutContent{
    margin: 0 230px;
    background: #FFF8F3;
}
.text_Content{
    text-align: center;
    padding: 150px;
    margin-top: 20px;   
}
.text_Content h3{
    font-size: 35px;
    color: #181818;
    margin-bottom: 10px;
}
.title{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 20px;
}

 p{
    color: #757575;
}
h4{
    color: #757575;
}

 /* What_i_do section */
.Do_content{
    background: white;
}
.What_i_Do .subtitle{
    text-align: left;  
    width: 267px;
    height: 377px;
    box-shadow: 1px 2px 5px 1px #757575;
    padding: 30px;
    margin-left: 23px;
    justify-content:space-around;
    border-radius: 10px;
}
.What_i_Do .title{
    width: 100%;
    padding: 10px;
    margin-top: -100px;
}
.What_i_Do .subtitle p{
    font-size: 16px;
    margin-top: 23px;  
}
.What_i_Do .items{
    margin-top: 20px;
}
  /* Resume section */
.Resume{
    margin-top: 130px;
}
.Resume_contain{
    display: flex;
    margin: 114px 230px;   
}
.Resume h1{
    text-align: center;
}
.Resume_contain .items{
    margin-top: 30.5px;
    padding: 27px; 
}
.Resume_contain .items p
{
    font-size: 16px;
    margin-top: 20px;
}
.Resume_contain h2
{
    margin-left: 30px
}
.Resume_contain h4
{
    margin-top: 20px;
    color:#757575;
}
.Resume_contain hr
{
    margin: 20px;
}
.Resume .btn{
    text-align: center;
    margin-top: -60px;
}
/* footer section */
footer{
    margin-top: 130px;
    padding: 130px 230px;
    background: #FFF8F3;
    display: flex;
    gap: 100px;
}
.footer_column  {
    width: 50%;
    margin: 20px;
}
.form{
    margin-top: 20px;
}
.footer input[type="text"],footer input[type="email"],footer textarea {
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 20px;
    border: none;
}



